@import url(../css/root.css);

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
    /* outline: #5BA72B 2px solid; */
}

/* section */
.section1-mb {
    margin-bottom: -27px;
}

.mb-11 {
    margin-bottom: -11%;

}

.mb--2 {
    margin-bottom: 3%;
}

/* sdjge */

.width_100 {
    width: 40% !important;
}

.nav_underline::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -9%;
    height: 2px;
    width: 0;
    background-color: #fff;
    transition: all 300ms;
    margin: 0 auto;
}

.nav_underline::after:hover {
    width: 100%;
}


span:hover svg path {
    fill: #5BA72B;
}

.pt119 {
    padding-top: 1px;
}

.pos_bottom {
    position: absolute;
    bottom: 0;
}

.color {
    background-color: #9ADBFC;
}

.z-index {
    z-index: 9 !important;
}



.nav_underline:hover:after {
    width: 100%;

}

.ms1 {
    margin-left: -5px;
}

.m_width {
    max-width: 1003px;
    width: 100%;
    margin-top: 42px;
    z-index: 1;
}

.mx_widths {
    max-width: 700px;
}

.max_width {
    width: 758px;
}

.bg_white {
    background-color: #fff;
}



.bg-img {
    background-image: url(../image/background-img1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text_shadow {
    text-shadow: 0px 4px 0px rgba(0, 0, 0, 0.18);
}

.nft_shadow {
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.18);
}

.max_width {
    max-width: 758px;
}

.pt89 {
    padding: 1px;
}

.width2 {
    width: 75% !important;
}

.border_radius {
    padding: 10px 30px 10px 30px;
    border-radius: 44px;
    border: none;
}

.pos-right {
    position: absolute;
    right: 0;
    bottom: 9%;


}

.pos-left {
    position: absolute;
    left: 0;
    bottom: 9%;


}

.pos-bottom {
    position: absolute;
    bottom: 14%;
    left: 0;



}

.grass-img {
    position: absolute;
    bottom: 21px;
    left: 0;
}

.pos-ab {
    position: absolute;

}

.pos_1 {
    position: absolute;
    bottom: 16%;
    left: 10%;
}

.pos2 {
    position: absolute;
    bottom: 12%;
    left: 24%;
}

.pos3 {
    position: absolute;
    bottom: 15%;
    left: 57%;
}

.pos4 {
    position: absolute;
    bottom: 20%;
    left: 70%;
}



/* section */
.about-section {
    background-image: url(../image/about-section-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.mt127 {
    padding-top: 123px;
}

.pos_ab1 {
    position: absolute;
    top: -31px;
    left: -74px;
}

.tree_left {
    left: 0;
    position: absolute;
    bottom: -9%;
    z-index: 5;
}

.text_ab {
    position: absolute;
    top: 23%;
    left: 11%;
}



/* .section3 */
.bg_img {
    background-image: url(../image/bg_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.impact-shadow {
    text-shadow: 1px 4px 0px #3D53A0;
}

.border_radius1 {
    border-radius: 20.821px;
    border: 13.15px solid #FFF;
}

.raibow_right {
    position: absolute;
    z-index: -1;
    right: 0;
    top: 0;
}

.line_bottom {
    position: absolute;
    top: -3px;
    left: 0;
}

.mtop {
    margin-top: -50px;
}

.about_cortoon {
    top: 36px;
    left: 0;
    position: absolute;

}

.img-pos {
    position: absolute;
    bottom: -12%;
    left: 0;
    z-index: -1;
}

.pos1 {
    position: absolute;
    bottom: -14%;
    right: 0;
    z-index: -1;
}

.pos34 {
    position: absolute;
    top: 0;
    left: 0;
}

/* 
.position-absolute2 {
    position: absolute;
    bottom: 0;
    left: 0;
} */



/* section */
.img2 {
    position: absolute;
    top: -3px;
    left: 0;
}

.pos1 {
    position: absolute;
    bottom: -14%;
    right: 0;

}

.max_width3 {
    max-width: 300px;
}

.bg_green {
    background-image: url(../image/bg_green.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.box {
    width: 6;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background: rgba(255, 255, 255, 0.10);
}



.box:hover {
    background-color: #5BA72B;
}

.box:hover svg path {
    fill: #ffffff;
    opacity: 1;
}

.white_space {
    white-space: nowrap;
}

/* footer */
.footer_img {
    background-image: url(../image/footer_bg_img.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.max-width {
    max-width: 655px;
}

.border_radis {
    border-radius: 15px !important;
    border: none !important;
    max-width: 878px;
    width: 100% !important;
}

.border_radis1 {
    border-radius: 15px !important;
    border: none !important;
}

.accordion-button {
    background-color: transparent !important;
}

.pos_real {
    position: relative;
    z-index: 10 !important;

}

.widht2 {
    width: 150px;
}

.mb--2 {
    margin-bottom: -2%;

}


.accordion-button:focus {
    box-shadow: none !important;
}

.footer_img {
    position: absolute;
    bottom: 0;
    left: 0;

}

.pos_ab2 {
    position: absolute;
    top: 25px;
    left: 1%;
    z-index: -1;
}

.shadow_p {
    text-shadow: 1px 4px 0px #F683C5;
}

.footer_img1 {
    position: absolute;
    bottom: 0;
    right: 0;

}

.pb100 {
    padding-bottom: 100px;
}

.line1::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 1px;
    bottom: 62px;
    z-index: 1;
    background-color: #B18E5E;

}

.width {
    width: 40%;
}

.widht1 {
    width: 161px;
}

.width2 {
    width: 161px;
}

.pt100 {
    padding-top: 80px;
}

.pos_ab {
    position: absolute;
    left: 0;
    bottom: -6%;
    z-index: 1;

}

.border-radius {
    border-radius: 23px;
}


.pb80 {
    padding-bottom: 80px;
}

.curser_pointer {
    cursor: pointer;
}

.pos_21 {
    position: absolute;
    bottom: -14%;
    z-index: -1;
    right: 0;
}

.right-tree {
    position: absolute;
    right: 0;
    bottom: 7%;
    z-index: 5;
    width: 26%;
}

.left-tree {
    position: absolute;
    left: 0;
    bottom: 7%;
    z-index: 4;
    width: 22%;
}

.fttr-img1 {
    background: transparent !important;
}


@media (max-width: 992px) {
    .hero_bg_img {
        background-image: url(../image/bgimg.gif);
        background-position: right;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .md_screen {
        left: -100% !important;
        flex-direction: column;
        position: fixed;
        top: 0;
        align-items: center;
        text-align: center;
        justify-content: center !important;
        background-color: #B6E5FE !important;
        width: 100% !important;
        z-index: 6 !important;
        transition: 800ms;
        height: 100% !important;
        gap: 50px !important;
        /* width: 100% !important; */
    }

    label[for="checkbox"] {
        height: 33px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 8 !important;
    }

    label[for="checkbox"]>span {
        height: 6px;
        width: 38px;
        border-radius: 40px;
        background-color: #ffffff !important;


    }

    .rotates1 {
        transform: rotate(45deg);
        transform-origin: 0px;
    }

    .rotates2 {
        display: none;
    }

    .rotates3 {
        transform: rotate(-45deg);
        transform-origin: 0px;
    }

    .start-0 {
        left: 0;
    }


}

@media (max-width:769px) {
    .pos-left {
        position: absolute;
        left: 0;
        bottom: 9%;
        z-index: -1;
    }

    .pos-right {
        position: absolute;
        right: 0;
        bottom: 9%;
        z-index: -1;
    }

    .pos-bottom {
        position: absolute;
        bottom: 11%;
        left: 0;
    }
}

@media (min-width:320px) {}

@media (min-width:576px) {
    .widht1 {
        width: 200px;
    }

    .right-tree {
        position: absolute;
        right: 0;
        bottom: 7%;
        z-index: 2;
        width: 26%;
    }

    .mb--2 {
        margin-bottom: -2%;

    }

    .left-tree {
        position: absolute;
        left: 0;
        bottom: 6%;
        z-index: 2;
        width: 22%;
    }

    .width2 {
        width: 200px;
    }

    .pos-right {
        position: absolute;
        right: 0;
        bottom: 9%;


    }

    .pos_1 {
        position: absolute;
        bottom: 9%;
        left: 10%;
    }

    .pos3 {
        position: absolute;
        bottom: 12%;
        left: 57%;
    }

    .pos2 {
        position: absolute;
        bottom: 11%;
        left: 24%;
    }

    .pos_1 {
        position: absolute;
        bottom: 12%;
        left: 10%;
    }

    .pos4 {
        position: absolute;
        bottom: 13%;
        left: 70%;
    }

    .height1 {
        height: 100vh !important;
    }

    .max_width3 {
        max-width: 100px;
    }


    .pt89 {
        padding: 8px;
    }

    .width_100 {
        width: 50% !important;
    }

    .border_radius {
        padding: 11px 31px 11px 31px;
        border-radius: 44px;
        border: none;
    }

    .pos-left {
        position: absolute;
        left: 0;
        bottom: 9%;


    }

    .pos-bottom {
        position: absolute;
        bottom: 10%;
        left: 0;



    }

    .grass-img {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pos-ab {
        position: absolute;

    }


    .position-absolute1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .width {
        width: 50%;
    }

    .position-absolute2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }


}

@media (min-width:768px) {
    .border_radius {
        padding: 8px 26px 8px 26px;
        border-radius: 44px;
        border: none;
    }

    .mb--2 {
        margin-bottom: -2%;

    }

    .position-absolute2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .section1-mb {
        margin-bottom: -43px;
    }



    .pt89 {
        padding: 11px;
    }

    .widht1 {
        width: 241px;
    }

    .width2 {
        width: 241px;
    }

    .max_width3 {
        max-width: 199px;
    }


    .pos-right {
        position: absolute;
        right: 0;
        bottom: 9%;


    }

    .pos-left {
        position: absolute;
        left: 0;
        bottom: 9%;


    }

    .pos-bottom {
        position: absolute;
        bottom: 11%;
        left: 0;



    }

    .grass-img {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pos-ab {
        position: absolute;

    }

    .widht2 {
        width: 200px;
    }

    .position-absolute1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .width_100 {
        width: 50% !important;
    }

    .width {
        width: 58%;
    }


}

@media (min-width:992px) {
    .width {
        width: 63%;
    }

    .widht2 {
        width: 200px;
    }


    .pt100 {
        padding-top: 123px;
    }

    .mb--2 {
        margin-bottom: -2%;

    }

    .hdr {
        min-height: 100vh;
    }

    .position-absolute2 {
        position: absolute;
        bottom: 0;
        left: 0;
    }

    .pt119 {
        padding-top: 119px;
    }

    .position_absolute {
        position: absolute;
        z-index: 2;
    }

    .bg_white {
        background-color: unset;

    }

    .max_width3 {
        max-width: 200px;
    }

    .pos1 {
        position: absolute;
        bottom: -14%;
        right: 0;
        z-index: 1;
    }


    .border_radius {
        padding: 11px 30px 11px 30px;
        border-radius: 44px;
        border: none;
    }

    .pos-right {
        position: absolute;
        right: 0;
        bottom: 9%;


    }

    .pt89 {
        padding: 25px;
    }

    .width_100 {
        width: 100% !important;
    }


    .pos-left {
        position: absolute;
        left: 0;
        bottom: 9%;


    }

    .pos-bottom {
        position: absolute;
        bottom: 11%;
        left: 0;



    }

    .grass-img {
        position: absolute;
        bottom: -60px;
        left: 0;
    }

    .pos-ab {
        position: absolute;

    }



    .position-absolute1 {
        position: absolute;
        top: 0;
        left: 0;
    }

    .width_100 {
        width: 61% !important;
    }

    .widht1 {
        width: 241px;
    }

    .width2 {
        width: 241px;
    }

}

@media (min-width:1200px) {
    .widht1 {
        width: 400px;
    }

    .width2 {
        width: 300px;
    }

    .mb--2 {
        margin-bottom: -2%;

    }

    .section1-mb {
        margin-bottom: -75px;
    }

    .widht2 {
        width: 250px;
    }

    .width_100 {
        width: 89% !important;
    }

    .width {
        width: 100%;
    }

    .pt89 {
        padding: 89px;
    }

    .max_width3 {
        max-width: 335px;
    }




}


@media (min-width:1400px) {
    .costum_container {
        max-width: 1140px !important;
    }

    .mb--2 {
        margin-bottom: -2%;

    }

    .border_radius {
        padding: 16px 40px 16px 40px;
        border-radius: 44px;
        border: none;
    }


}